  body{
    text-align: center;
  }
  donut-chart{
    width: 250px;
    height: 150px;
    display:inline-block;
    cursor: pointer;
  }
  force-layout{
    width: 1250px;
    height: 650px;
    display:inline-block;
    cursor: pointer;
  }

  .node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
  opacity: 0.9;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 2.1px;
  cursor: pointer;
}

.node :hover {
  opacity: 1;
}

.link {
  stroke: #999;
  stroke-opacity: 0.7;
}
