body
{
    text-align: center;
}

donut-chart
{
    display: inline-block;

    width: 250px;
    height: 150px;

    cursor: pointer;
}


tree-layout
{
    display: inline-block;

    width: 250px;
    height: 250px;

    cursor: pointer;
}

.node circle
{
    cursor: pointer;

    stroke: #3182bd;
    stroke-width: 1.5px;
}

text
{
    font: 10px sans-serif;

    pointer-events: none;

    text-anchor: middle;
}
link text
{
    font: 100px;
}

.node :hover
{
    /*opacity: 1;*/
}

.link
{
    stroke: #000;
}

d3-tip
{
    line-height: 1;

    color: black;
}

svg
{
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    background-color: #fff;

         -o-user-select: none;
}

svg:not(.active):not(.ctrl)
{
    cursor: crosshair;
}

.link path
{
    cursor: default;

    fill: none;
    stroke: #000;
    stroke-width: 4px;
}

svg:not(.active):not(.ctrl) path.link
{
    cursor: pointer;
}

.link.selected
{
    stroke-dasharray: 10,2;
}

.link.dragline
{
    pointer-events: none;
}

.link.hidden
{
    stroke-width: 0;
}

.node
{
    cursor: pointer;

    stroke-width: 1.5px;
}

.node.reflexive
{
    stroke: #000 !important;
    stroke-width: 2.5px;
}

text
{
    font: 12px sans-serif;

    pointer-events: none;
}

text.id
{
    font-weight: bold;

    text-anchor: middle;
}
