  body
{
    text-align: center;
}
donut-chart
{
    display: inline-block;

    width: 250px;
    height: 150px;

    cursor: pointer;
}

tree-layout
{
    display: inline-block;

    width: 1250px;
    height: 650px;

    cursor: pointer;
}

.node circle
{
    cursor: pointer;

    opacity: .9;

    stroke: #3182bd;
    stroke-width: 1.5px;
}

text
{
    font: 10px sans-serif;

    pointer-events: none;

    text-anchor: middle;
}

line.link
{
    cursor: pointer;

    fill: none;
    stroke: #9ecae1;
    stroke-width: 2.1px;
}

.node :hover
{
    opacity: 1;
}

.link
{
    stroke: #999;
    stroke-opacity: .7;
}

d3-tip
{
    line-height: 1;

    color: black;
}
