<div>
<form>
    <h3> Link threshold 0 <input type="range" id="thersholdSlider" name="points" value = 0 min="0" max="22" ng-model="threshold" ng-change="setThreshold(threshold)"> 22 </h3>
</form>
<button ng-click = removeAllNodes()>remove all nodes </button>
<button ng-click = removeAllLinks()>remove all links </button>
<button ng-click = removeNode()>remove node </button> 
<button ng-click = addNode()>Add node </button>
<button ng-click = addLink()>Add Link </button>
<button ng-click = removeLink()>remove link </button>
<button ng-click = goCrazy()> go crazy </button>
</div>