<div>
<form>
    <h3> Link threshold 0
        <input type="range" id="thersholdSlider" name="points" value=0 min="0" max="10"
               ng-model="threshold" ng-change="setThreshold(threshold)"> 10
    </h3>
</form>
<button ng-click=removeAllNodes()>remove all nodes</button>
<button ng-click=removeAllLinks()>remove all links</button>
<button ng-click=removeNode()>remove node</button>
<button ng-click=addNode("test",counter)>Add node</button>
<button ng-click=addLink(nodes[nodes.length-1].id,nodes[nodes.length-2].id)>Add Link</button>
<button ng-click=removeLink(0,1)>remove link</button> 
<div class="ui-widget">
    <input id="search" ng-model="val">
    <button type="button" ng-click="searchNode()">Search</button>
</div>
</div>